/* Background putih clean */
.login-bg {
  --background: #ffffff;
}

.login-container {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  padding: 0 25px;
}


/* Judul aplikasi */
.login-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #fffb00, #8b7903);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4px;
}

/* Subtitle */
.login-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #6c5f15;
  margin-bottom: 25px;
}

/* Card login */
.login-card {
  padding: 6px;
  border-radius: 18px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

/* Input fields */
.input-item {
  --highlight-color-focused: #8b7903;
  --border-color: #c2b268;
  margin-bottom: 12px;
  border-radius: 12px;
}

/* Tombol login */
.btn-login {
  margin-top: 10px;
  background: linear-gradient(90deg, #fffb00, #8b7903);
  color: #000;
  font-weight: 600;
  border-radius: 12px;
  height: 44px;
}

/* Tombol register */
.btn-register {
  margin-top: 6px;
  color: #8b7903;
  font-size: 14px;
  font-weight: 500;
}
