<ion-header>
  <ion-toolbar>
    <ion-title>
      Data Laporan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="isLoading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Memuat data...</p>
  </div>

<ion-list *ngIf="!isLoading && points.length > 0">
  <ion-item *ngFor="let point of points" (click)="openInGoogleMaps(point)">

    <!-- FOTO DI BAGIAN KIRI -->
    <ion-thumbnail slot="start">
      <img [src]="point.photoUrl || 'assets/no-image.png'" />
    </ion-thumbnail>

    <ion-label>
      <h2>{{ point.kategori }}</h2>
      <p>{{ point.keterangan }}</p>
      <p>{{ point.coordinates }}</p>
    </ion-label>

  </ion-item>
</ion-list>


  <div *ngIf="!isLoading && points.length === 0" class="no-data-message">
    <p>No data points found.</p>
  </div>

</ion-content>
