<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Class Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Senin</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Praktikum PGPBL</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Metodologi Penelitian</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Selasa</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Pendidikan Pancasila</h2>
            <p>Mata Kuliah Wajib Kurikulum</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Pendidikan Agama Islam</h2>
            <p>Mata Kuliah Wajib Kurikulum</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Rabu</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Ide Kreatif dan Kewirausahaan</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Praktikum Sains Data Geospasial Lanjut</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>Kamis</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Pendidikan Kewarganegaraan</h2>
            <p>Mata Kuliah Wajib Kurikulum</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Praktikum SIG untuk Sumber Daya Air</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Jumat</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Bahasa Indonesia</h2>
            <p>Mata Kuliah Wajib Kurikulum</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Praktikum SIG untuk Pesisir dan Kelautan</h2>
            <p>Mata Kuliah Wajib</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
