<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Yogyakarta Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Gudeg Yu Djum</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bakpia Pathok</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Sate Klathak Pak Pong</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mie Lethek</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Oseng-Oseng Mercon</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bakmi Jawa Mbah Gito</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Angkringan Lik Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Krecek</ion-label>
  </ion-item>
</ion-list>
</ion-content>
