<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Statistik Laporan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Loading -->
  <div *ngIf="isLoading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Memuat data...</p>
  </div>

<!-- BAR CHART -->
<ion-card class="chart-card" *ngIf="!isLoading && categoryStats.length > 0">
  <ion-card-header>
    <ion-card-title class="chart-title">Grafik Laporan per Kategori</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #barCanvas></canvas>
  </ion-card-content>
</ion-card>

<!-- PIE CHART -->
<ion-card class="chart-card" *ngIf="!isLoading && categoryStats.length > 0">
  <ion-card-header>
    <ion-card-title class="chart-title">Distribusi Kategori</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #pieCanvas></canvas>
  </ion-card-content>
</ion-card>

</ion-content>
