<ion-content>

  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Info Aplikasi</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="splash-container">
  <img src="assets/icon/wali.png" alt="Logo" class="logo" />
  <h1 class="app-title">LAPOR.SOLO</h1>
  <p class="tagline">
    Melaporkan kondisi Kota Solo Realtime<br>
  </p>
</div>

 <!-- Cara Menggunakan -->
<ion-card class="info-card">
  <ion-card-header>
    <ion-icon name="construct-outline" slot="start" class="info-icon"></ion-icon>
    <ion-card-title class="info-title">Panduan</ion-card-title>
  </ion-card-header>
  <ion-card-content class="info-content">
    <ion-list>
      <ion-item lines="none" class="info-item">
        <ion-icon name="add-circle-outline" slot="start" class="step-icon"></ion-icon>
        <ion-label>
          <strong>Tambah Laporan </strong> pilih kategori, isi keterangan, unggah foto, lalu submit.
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="info-item">
        <ion-icon name="map-outline" slot="start" class="step-icon"></ion-icon>
        <ion-label>
          Lihat pada <strong>Data</strong> atau <strong>Peta</strong>.
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="info-item">
        <ion-icon name="alert-circle-outline" slot="start" class="step-icon"></ion-icon>
        <ion-label>
          Laporan diproses sesuai urgensi!
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- Kontak & Dukungan -->
<ion-card class="info-card">
  <ion-card-header>
    <ion-icon name="call-outline" slot="start" class="info-icon"></ion-icon>
    <ion-card-title class="info-title">Kontak & Dukungan</ion-card-title>
  </ion-card-header>
  <ion-card-content class="info-content">
    <ion-list>
      <ion-item lines="none" class="info-item">
        <ion-icon name="logo-whatsapp" slot="start" class="step-icon"></ion-icon>
        <ion-label>+62 812-2506-7171</ion-label>
      </ion-item>
      <ion-item lines="none" class="info-item">
        <ion-icon name="mail-outline" slot="start" class="step-icon"></ion-icon>
        <ion-label>support@solo.go.id</ion-label>
      </ion-item>
      <ion-item lines="none" class="info-item">
        <ion-icon name="time-outline" slot="start" class="step-icon"></ion-icon>
        <ion-label>Senin – Jumat, 08.00 – 16.00 WIB</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>


</ion-content>
