.splash-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #e6edff 100%);
  text-align: center;
}

img {
  margin-bottom: 30px;
  border-radius: 20%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

ion-spinner {
  margin: 15px 0;
  color: #1a3d8f; /* biru gelap */
  transform: scale(1.3);
}

p {
  color: #1a3d8f;
  font-size: 16px;
  font-weight: 500;
}

.version-text {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.version-text small {
  color: #5a5a89;
  font-size: 13px;
  opacity: 0.8;
}
