/* Background putih polos */
.splash-bg-white {
  --background: #ffffff;
  position: relative;
}

.splash-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadeInUp 1.2s ease-out forwards;
  opacity: 0;
}

.logo {
  width: 120px;
  height: 200px;
  margin-bottom: 20px;
  animation: pulseLogo 2.5s infinite ease-in-out;
}

.app-title {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  /* Gradient sesuai permintaan */
  background: linear-gradient(90deg, #fffb00, #8b7903);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.tagline {
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8b7903;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

/* styling khusus baris “Kota Surakarta” */
.city {
  font-weight: 500;        /* sedikit lebih tegas */
  color: #000000;             /* sedikit lebih gelap untuk penekanan */
  letter-spacing: 0.6px;
}



/* Loading Spinner */
.loading-wrapper {
  margin-top: 25px;
}

.loading-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: conic-gradient(#FFD600, #8B4513);
  mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.bottom-version {
  position: absolute;
  bottom: 18px;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #000000;         /* lebih soft daripada #888 */
  letter-spacing: 0.5px;
  opacity: 0.8;        /* biar lebih halus */
}


/* Animasi */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes pulseLogo {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
